* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    
    height: 100vh;
}

.header {
    background-color: lightgray;
    text-align: center;
    padding: 2rem;
}

h1 {
    font-size: 5rem;
    margin-bottom: 1rem;   
}

button {
    background-color: white;
    font-size: 2rem;
    padding: 1rem;
    border: 0.25rem solid black;
    border-radius: 1rem;

}

button:active {
    border: 0.25rem solid gray;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: auto;
    
    background-color: gray;
    padding: 2rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    
    border: 0.5rem solid black;
    aspect-ratio: 1 / 1;
    max-width: 60rem;
}

.square {
    background-color: white;
    /* border: 0.1rem solid lightgray; */
}