* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    
    height: 100vh;
}

.header {
    background-color: lightgray;
    text-align: center;
    padding: 1rem;
}

h1 {
    font-size: 5rem;   
}

button {
    background-color: white;
    font-size: 2rem;
    padding: 0.75rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: auto;
    
    background-color: gray;
    padding: 1rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    
    flex: auto;
    
    border: 0.25rem solid black;
    border-radius: 0.5rem;
    aspect-ratio: 1 / 1;
    max-width: 70vh;
}

.square {
    background-color: white;
    border: 1px solid gray;
    width: calc(100% / 16);
}