* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.grid {
    background-color: lightgrey;
    border: 2px solid black;
    
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
}

.square {
    background-color: lightblue;
    border: 2px solid black;
    
    height: 50px;
    width: 50px;
}